{% load static %}
<!-- DropdownMenu.tpl.html -->
<div class="dropdown">
  <button class="btn btn-{{ dropdown.color|default:'primary' }} dropdown-toggle" type="button" id="{{ dropdown.id|default:'dropdownMenu' }}" data-bs-toggle="dropdown" aria-expanded="false">
    {{ dropdown.label|default:'Dropdown' }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="{{ dropdown.id|default:'dropdownMenu' }}">
    {% for item in dropdown.items %}
      {% if item.type == 'divider' %}
        <li><hr class="dropdown-divider"></li>
      {% else %}
        <li>
          <a class="dropdown-item {% if item.icon %}d-flex align-items-center{% endif %}" href="{{ item.href|default:'#' }}">
            {% if item.icon %}<i class="{{ item.icon }} me-2"></i>{% endif %}{{ item.label }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>